.fa {
    padding: 5px ;
    font-size: 50px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github:before{
      font-size: 20px;
  }